# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Turbo
.turbo

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Husky
.husky/_

# Rust/Stellar contracts
**/test_snapshots/
target/

deploy-full.cjs
deploy-pools.cjs
push-prices.cjs
add-soroswap-liquidity.cjs
add-ktb-liquidity.cjs
add-ktb-xlm-pool.cjs
upgrade-ktb-token.cjs
scripts/
